{% load thumbnail %}
{% load polls_extras %}
{% load static %}


<div class="col-sm-{{ col_size }}">
    <div class="product-image-wrapper">
        <div class="single-products" style="cursor: default">
            <div class="productinfo text-center" style="cursor: default">
                {% if product.image %}
                    {% thumbnail product.image "368x380" crop='center' as im %}
                        <img src="{{ im.url }}" style="cursor: default">
                    {% endthumbnail %}
                {% else %}
                    <img src="/static/images/shop/product.jpg" alt="">
                {% endif %}
                <h2 style="cursor: default">{{ product.price | three_digits_currency }} </h2>
                <p style="cursor: default ">{{ product.title }}</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <p style="padding-bottom:80px ; cursor: default">{{ product.short_description }}</p>
                    <h2>{{ product.price | three_digits_currency }} </h2>
                    <p>{{ product.title }}</p>
                    <button onclick="addProductToOrder({{ product.id }})"
                    class="btn btn-default add-to-cart">
                        افزودن به سبد خرید
                    </button>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li>
                    <a href="{{ product.get_absolute_url }}"><i class="fa fa-plus-square"></i> نمایش محصول </a>
                </li>
                <li><a href=""><i class="fa fa-plus-square"></i>مقایسه</a></li>
            </ul>
        </div>
    </div>
</div>